html,
body {
  height: 100%;
  margin: 0;
}
#map {
  width: 600px;
  height: 400px;
}

#map {
  width: 100%;
  height: 100%;
}

.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.info {
  padding: 6px 8px;
  right: 0;
  border-radius: 5px;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  font: 14px/16px Arial, Helvetica, sans-serif;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.info.legend {
  /* float: left !important; */
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}
@media only screen and (max-width: 900px) {
  .info {
    height: auto !important;
    margin: 10px !important;
  }
}

@media only screen and (max-width: 700px) {
  .info {
    height: auto !important;
    margin: 10px !important;
  }
  .info.legend {
    visibility: hidden;
  }
  /* .info.details {
    height: 80% !important;
  } */
}

.leaflet-top.leaflet-right {
  height: 100%;
  width: 100%;
}

.leaflet-bottom.leaflet-right {
  width: 100%;
}

/* ***************************** slider ******************** */

.ticks {
  font-size: 10px;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #f3f3f3;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

.slider-container {
  position: absolute;
  z-index: 99999;
  bottom: 0;

  width: 100%;
  text-align: center;
}

#slider {
  display: inline-block;
}

#play-button {
  background: #f08080;
  padding-right: 26px;
  border-radius: 3px;
  border: none;
  color: white;
  margin: 0;
  padding: 0 12px;
  width: 60px;
  cursor: pointer;
  height: 30px;
  z-index: 9999;
  display: inline-block;
  position: absolute;
  top: 35px;
  left: 20px;
}
